In [8]:
import tensorflow as tf
import pandas as pd

In [11]:
# Data set
filePath = 'https://raw.githubusercontent.com/HyunjunKim1/Opentutorial_Deeplearning/main/lemonade.csv'
data = pd.read_csv(filePath)
data.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [12]:
# 변수 설정
independent = data[['온도']] #독립변수
dependent = data[['판매량']] #종속변수

# 데이터가 나뉘어졌는지 확인하기
print(independent.shape, dependent.shape)

(6, 1) (6, 1)

In [16]:
# Make model
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [18]:
model.fit(independent, dependent, epochs=10000, verbose=0)
model.fit(independent, dependent, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 10ms/step - loss: 1.4385e-04
Epoch 2/10
1/1 [==============================] - 0s 11ms/step - loss: 1.4388e-04
Epoch 3/10
1/1 [==============================] - 0s 34ms/step - loss: 1.4386e-04
Epoch 4/10
1/1 [==============================] - 0s 34ms/step - loss: 1.4385e-04
Epoch 5/10
1/1 [==============================] - 0s 10ms/step - loss: 1.4393e-04
Epoch 6/10
1/1 [==============================] - 0s 11ms/step - loss: 1.4397e-04
Epoch 7/10
1/1 [==============================] - 0s 16ms/step - loss: 1.4400e-04
Epoch 8/10
1/1 [==============================] - 0s 7ms/step - loss: 1.4401e-04
Epoch 9/10
1/1 [==============================] - 0s 9ms/step - loss: 1.4400e-04
Epoch 10/10
1/1 [==============================] - 0s 21ms/step - loss: 1.4401e-04

In [24]:
# 만든 모델에 독립변수를 넣어서 결과값 확인하기.
print(model.predict(independent))
# 기본으로 제공되는 종속변수의 값
dependent

1/1 [==============================] - 0s 21ms/step
[[40.013958]
 [42.01314 ]
 [44.012325]
 [46.01151 ]
 [48.010696]
 [50.00988 ]]

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [26]:
# 결과값 확인.
# 만약 독립변수가 15일 경우일 때 학습 된 모델을 거쳐서 어떠한 값이 나오는지 확인
print(model.predict([[15]]))

1/1 [==============================] - 0s 127ms/step
[[30.01804]]