In [5]:
import tensorflow as tf
import pandas as pd

In [6]:
filePath = 'https://raw.githubusercontent.com/HyunjunKim1/Opentutorial_Deeplearning/main/boston.csv'
boston = pd.read_csv(filePath)

#필드명
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [7]:
independent = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dependent = boston[['medv']]
print(independent.shape, dependent.shape)

(506, 13) (506, 1)

In [10]:
# 모델 만들어주기
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(5, activation='swish')(X)
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [11]:
# 만들어 놓은 모델을 데이터로 학습시키기!
model.fit(independent, dependent, epochs=1000, verbose=0)
model.fit(independent, dependent, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 69.6361
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 69.5631
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 73.2423
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 69.6923
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 66.1145
Epoch 6/10
16/16 [==============================] - 0s 2ms/step - loss: 68.8625
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 72.8158
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 66.4888
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 67.5432
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 70.6102

In [12]:
model.summary()

Model: "model_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 13)]              0

 dense_4 (Dense)             (None, 5)                 70

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 76
Trainable params: 76
Non-trainable params: 0
_________________________________________________________________

In [21]:
model.predict(independent[0:5])

1/1 [==============================] - 0s 19ms/step

array([[30.378778],
       [25.1895  ],
       [31.735598],
       [30.354551],
       [29.989477]], dtype=float32)

In [22]:
dependent[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [23]:
print(model.get_weights())

[array([[-0.09387376],
       [ 0.04724014],
       [-0.02260532],
       [ 2.652866  ],
       [-1.1142478 ],
       [ 5.3235908 ],
       [-0.01062325],
       [-1.0448693 ],
       [ 0.19574964],
       [-0.00998049],
       [-0.49870357],
       [ 0.01457594],
       [-0.4597072 ]], dtype=float32), array([7.0370655], dtype=float32)]